$base-font-path: "~@/assets/fonts";
$main-color: #4a6572;
$main-color-2: #232f34;
$main-color-3: white;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$base-font-family: Arial, Helvetica, sans-serif;
